body {
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
}

.main {
    color: white;
    width: 100%;
}

.app-bg {
    background: #090909;
    height: 100%;
    overflow: hidden;
}

.app-bg img {
    opacity: 0.5;
    /* css standard */
    filter: alpha(opacity=60);
    /* internet explorer */
    position: relative;
    width: 100%;
}

.location {
    width: 100%;
    margin: 0;
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    bottom: 55%;
    text-align: center;
}

.top {
    width: 100%;
    position: absolute;
    bottom: 65%;
    text-align: center;
}

.temp {
    width: 100%;
    font-size: 100px;
    position: absolute;
    text-align: center;
    bottom: 40%;
}

.humidity {
    left: 2%;
    position: absolute;
    bottom: 85%;
    font-size: 75px;
}

.wind-stats {
    left: 60%;
    position: absolute;
    bottom: 67%;
    font-size: 75px;
    margin: 5%;
}

//.wind {
    
}

//#direction {
    position: absolute;
    left: 35%;
}

    @media screen and (max-width: 960px) {
    

        
    }
    
    @media screen and (max-width: 768px) {
        
    
        
    }
    
    @media screen and (max-width: 480px) {
        
    
    
    }