body {
    font-family: 'Orbitron', Verdana, Helvetica, sans-serif;
    margin: 0 auto;
    background: url("img/earth-hq.jpeg") no-repeat;
    background-size: 100% 75%;
    background-color: #040404;
    color: #fff;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.tint {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.humidity {
    margin: 5% 5% 0 5%;
    font-size: 5em;
    text-align: center;
    float: left;
}

.wind-stats {
    margin: 5% 5% 0 5%;
    font-size: 5em;
    text-align: center;
    float: right;
}

.container-middle {
    display: table;
    width: 100%;
}

.top {
    width: 100%;
    height: 125px;
    text-align: center;
}

.top img {
    margin-top: -40px;
}

.location {
    width: 100%;
    margin: 0;
    font-size: 6em;
    font-weight: bold; 
    text-align: center;
    vertical-align: middle;
}

.temp {
    width: 100%;
    font-size: 6em;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .humidity, .wind-stats {
        font-size: 4em;
    }

    .location, .temp {
        font-size: 5em;
    }

    body {
        background: url("img/earth-mq.jpg") no-repeat;
        background-size: 100% 50%;
        background-color: #040404;
        color: #fff;
    }

}

@media screen and (max-width: 768px) {
    body {
        background: url("img/earth-mq.jpg") no-repeat;
        background-size: 100% 50%;
    }
    
}

@media screen and (max-width: 480px) {
    body {
        background: url("img/earth-lq.jpg") no-repeat;
        background-size: 100% 50%;
    }

}